.row.cal-mail-to-attendees.text-center
  a.btn.btn-accent.btn-link(
    ng-if="ctrl.getEmailAddressesFromUsers(ctrl.event.attendees)",
    ng-href="mailto:{{ctrl.getEmailAddressesFromUsers(ctrl.event.attendees)}}",
    op-inbox-compose
  )
    label
      | #{__('Mail to Attendees')}
    i.mdi.mdi-email
