.cal-mail-to-attendees
  a.btn.btn-link.btn-icon(
    ng-if="ctrl.getEmailAddressesFromUsers(ctrl.event.attendees)",
    ng-href="mailto:{{ctrl.getEmailAddressesFromUsers(ctrl.event.attendees)}}",
    op-inbox-compose
    op-inbox-compose-users="ctrl.event.attendees"
  )
    md-tooltip(md-direction="bottom" md-z-index="10000")
      span #{__('Mail to attendees')}
    i.mdi.mdi-email
