.cal-attendees-list, .cal-resource-list {
  .flex;

  font-size: 15px;
  margin: 0;

  .cal-attendees-sublists {
    .flex-column;

    .cal-attendees-sublist {
      .attendees-sublist-title {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .cal-attendees-sublist-body {
        .flex-wrap;
      }
    }
  }

  .cal-attendees-actions {
    .flex-horizontal-centered;

    min-width: 40px;
  }

  .trash {
    .flex-vertical-centered;

    background: none;
    font-size: 2em;
    color: @m-red;
    cursor: pointer;

    :hover, :focus {
      color: darken(@m-red, 10%);
    }
  }

  .accepted  {
    color: @m-green;
  }

  .undecided {
    color: @m-blue;
  }

  .tentative {
    color: @m-blue;
  }

  .declined {
    color: @m-red;
  }

  &.cal-attendees-list-condensed {
    .flex-space-between;
  }
}
