.attendee-avatar
  a.avatar(href="", ng-attr-title='{{::ctrl.getDisplayName()}}')
    esn-avatar(user-email="ctrl.attendee.email", avatar-url="ctrl.avatarUrl")
    .organizer(ng-if='ctrl.isOrganizer')
      i.mdi.mdi-pencil
