@cal-footer-participation-height: 50px;
.cal-event-view-body {
  .flex;
  .flex-direction(column);
  
  min-height: ~"calc(100vh - @{header-height})";
  font-size: 1.5rem;
  
  .event-body {
    .flex;
    .flex-direction(column);
    
    flex:1;
    overflow-y: scroll;
    padding-top: 15px;
    padding-bottom: ~"calc(@{cal-footer-participation-height} + 15px)";
  

    .event-meta, .invitation-block {
      padding: 0 15px;
    }

    .event-meta {  
      .event-view-block {
        padding: 5px 0;
      }
  
      i {
        font-size: 2rem;  
        padding-right: 10px;
      }
    }
  
    .invitation-block {
      .cal-attendees-list {
        .flex;
        .flex-direction(column);

        padding-top: 15px;
      }

      .participation-block {
        display: none;
      }

      cal-resource-list, .cal-attendees-list {
        .flex;

        .attendee-item{
          .avatar {
            img {
              .esn-avatar;
            }
          }
        }

        .name {
          .flex;
          .flex-direction(column);

          a {
            color: @btn-default-color;
          }
        }
      }
    }
  }

  .event-participation {
    .flex-horizontal-centered;
    .flex-vertical-centered;

    position: fixed;
    bottom: 0;
    border-top: 1px solid @inputBorderColor;    
    height: @cal-footer-participation-height;
    width: 100%;
    background-color: @app-gray;
  }
}


@media (min-width: @screen-md-min) {
  .cal-event-view-body {
    .event-body {
      .flex-direction(row);

      .event-meta, .invitation-block {
        flex-basis: 50%;
      }

      .invitation-block {
        .participation-block {
          .flex;
          .flex-vertical-centered;

          padding: 15px 0;

          .mdi-account-check {
            font-size: 2rem;
            padding-right: 15px
          }
        }
      }
    }

    .event-participation {
      display: none;
    }
  }
}