.cal-event-view-body {
  .flex;
  .flex-direction(column);
  
  min-height: ~"calc(100vh - @{header-height})";
  font-size: 1.5rem;

  .event-body {
    .flex;
    .flex-direction(column);

    flex:1;
    padding: 25px 0 0;

    .event-meta, .invitation-block {
      padding: 0 15px;
    }

    .event-meta {  
      .event-view-block {
        padding: 5px 0;
      }
  
      i {
        font-size: 2rem;  
        padding-right: 10px;
      }
    }
  
    .invitation-block {
      .cal-attendees-list {
        .flex;
        .flex-direction(column);

        padding-top: 15px;
      }

      cal-resource-list, .cal-attendees-list {
        .flex;

        .attendee-item{
          .avatar {
            img {
              .esn-avatar;
            }
          }
        }

        .name {
          .flex;
          .flex-direction(column);

          a {
            color: @btn-default-color;
          }
        }

        .cal-participation-status {
          position: absolute;
          top: 30px;
          left: -7px;
          .mdi {
            .RoundedShape(50%);

            font-size: 1.2em;
            background-color: @m-white;
          }

          .participation-status-accepted  {
            color: @m-green;
          }

          .participation-status-needaction, .participation-status-tentative {
            color: @m-blue;
          }

          .participation-status-declined {
            color: @m-red;
          }
        }
      }
    }
  }

  .event-participation {
    .flex-horizontal-centered;
    .flex-vertical-centered;

    border-top: 1px solid @inputBorderColor;    
    height: 50px;
    width: 100%;

    .btn {
      font-size: 13px;
      border-left: 1px solid;
      border-right: 1px solid;
      border-color: @darkenBgColor;
      text-transform: none;
      padding: 6px;

      i.mdi {
        margin-right: 4px;
        font-size: 18px;
        bottom: 2px;
        position: relative;
        vertical-align: middle;

        &.mdi-help {
          font-size: 15px;
          bottom: 1px;
        }
      }

      &.undecided {
        margin: 0 -1px;
      }

      &.active {
        background-color: @darkenBgColor;
        z-index: 0;

        &.accepted  {
          color: @m-green;
        }

        &.undecided {
          color: @m-blue;
        }

        &.declined {
          color: @m-red;
        }
      }
    }
  }
}


@media (min-width: @screen-md-min) {
  .cal-event-view-body {
    .event-body {
      .flex-direction(row);

      .event-meta, .invitation-block {
        flex-basis: 50%;
      }
    }
  }
}