div
  cal-event-internal-user-view(ng-if="!ctrl.externalAttendee", event="ctrl.event")
  cal-event-external-user-view(ng-if="ctrl.externalAttendee", event="ctrl.event", external-attendee="ctrl.externalAttendee", links="ctrl.links")