before_script:
  - . ~/.nvm/nvm.sh && nvm use 8

stages:
  - test
  - deploy_dev

test:
  stage: test
  tags:
    - shell
    - online.net
    - mongo
    - elasticsearch
    - redis
  script:
   - npm i
   - npm update
   - bower i
   - ln -s ${PWD}/node_modules/linagora.esn.resource node_modules/linagora-rse/node_modules/
   - grunt

deploy_dev:
  stage: deploy_dev
  tags:
    - dev.open-paas.org
    - deployment
  environment:
    name: dev
    url: https://dev.open-paas.org
  only:
    - master@linagora/lgs/openpaas/linagora.esn.calendar
  script:
    - cd /srv/${CI_PROJECT_NAME}
    - git fetch --all
    - git checkout ${CI_COMMIT_SHA}
    - npm install --ignore-scripts --production
    - npm update --production
    - npm prune
    - bower install --production
    - bower prune
    - git checkout -- .
    - sudo /etc/init.d/rse.dev restart
