.cal-entities-autocomplete-input-tag
  .esn-chip
    .left-tag
      .esn-spinner(ng-if="data.isLoading", openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.15')
      .tag-icon
        md-tooltip(md-direction="bottom" md-z-index="10000")
          span(ng-if="!data.isLoading && data.freeBusy === 'busy'") #{__('Attendee is not available')}
          span(ng-if="!data.isLoading && data.freeBusy === 'free'") #{__('Attendee is available')}
          span(ng-if="!data.isLoading && data.freeBusy === 'unknown'") #{__('Attendee availability is unknown')}
        i.mdi.mdi-clock-alert.is-busy(ng-if="!data.isLoading && data.freeBusy === 'busy'")
        i.mdi.mdi-clock.is-free(ng-if="!data.isLoading && data.freeBusy === 'free'")
        i.mdi.mdi-clock-alert.is-unknown(ng-if="!data.isLoading && data.freeBusy === 'unknown'")
    span {{ ::$getDisplayText() }}
    i.mdi.mdi-close-circle(ng-click="$removeTag()")