mjml
  mj-head
    mj-attributes
      mj-all(font-family='Roboto')
    include ./style.pug
    mj-style(inline='inline')
      | .resource-request-title-container { background: #deffe1; border-radius: 4px; border: 1px solid #deffe1; }
  include ./body.pug
