.cal-settings-calendars-item
  .calendar-info
    .name 
      a(ui-sref="calendar.edit({calendarUniqueId: 'ctrl.calendar.calendarUniqueId'})") {{:: ctrl.calendar.name }}
    .description {{:: ctrl.calendar.description }}
  .calendar-actions
    a.clickable(ng-if='ctrl.canDeleteCalendar()', ng-click="ctrl.remove()") #{__('Remove')}