.cal-settings-calendars-item
  .calendar-info
    .name {{:: ctrl.calendar.name }}
    .description {{:: ctrl.calendar.description }}
  .calendar-actions
    a.clickable(ng-click="ctrl.remove()") #{__('Remove')}