md-select.calendar-dropdown(ng-model='$ctrl.selectedCal')
  md-option.calendar-dropdown-option(ng-value='$ctrl.calendarTypes.ALL_CALENDARS') #{__('All calendars')}
  md-divider

  md-option.calendar-dropdown-option(ng-value='$ctrl.calendarTypes.MY_CALENDARS') #{__('My calendars')}
  calendar-search-form-dropdown-calendar-options(calendar-list='$ctrl.calendars.myCalendars')

  div(ng-if='$ctrl.calendars.sharedCalendars.length')
    md-divider
    md-option.calendar-dropdown-option(ng-value='$ctrl.calendarTypes.SHARED_CALENDARS') #{__('Shared calendars')}
    calendar-search-form-dropdown-calendar-options(calendar-list='$ctrl.calendars.sharedCalendars')