button.btn.btn-link.btn-icon.waves-notransition.hidden-xs(ng-click="ctrl.toggleDisplay()", title=__('Show planning'))
  i.mdi.mdi-view-list
button.btn.btn-link.btn-icon.waves-notransition.hidden-md(title=__('Show Planning'), contextual-sidebar, data-content-template="/calendar/app/planning/calendar-planning-for-aside.html", data-placement="right")
  i.mdi.mdi-view-list