button.btn.btn-link.btn-icon.waves-notransition.hidden-xs(ng-click="ctrl.toggleDisplay()", title=__('Show planning'))
  i.mdi.mdi-view-list
button.btn.btn-link.btn-icon.waves-notransition.hidden-md(title=__('Show Planning'), contextual-sidebar, data-content-template="/calendar/app/planning/calendar-planning.html", data-placement="right", data-controller="CalCalendarPlanningController", data-controller-as="ctrl")
  i.mdi.mdi-view-list