.cal-attendee-avatar
  a.avatar(href="", ng-attr-title='{{::ctrl.getDisplayName()}}')
    esn-avatar(avatar-url="ctrl.avatarUrl", user-email="ctrl.attendee.email")
    .partstat
      cal-partstat-icon(partstat="ctrl.attendee.partstat")