.cal-attendee-avatar
  a.avatar(href="", ng-attr-title='{{::ctrl.getDisplayName()}}')
    esn-avatar(user-id="ctrl.attendee.id", user-email="ctrl.attendee.email")
    .partstat
      cal-partstat-icon(partstat="ctrl.attendee.partstat")