sub-header
  cal-settings-subheader

.cal-settings-calendars
  .calendar-list
    .title
      h3 #{__('My calendars')}
    .list
      cal-settings-calendars-item(ng-repeat="calendar in ctrl.userCalendars", calendar="calendar", on-remove="ctrl.remove", display-owner="false", state-to-go="'calendar.edit'")

  .calendar-list
    .title
      h3 #{__('Shared calendars')}
    .list
      cal-settings-calendars-item(ng-repeat="calendar in ctrl.sharedCalendars", calendar="calendar", on-remove="ctrl.remove", display-owner="true", state-to-go="'calendar.external.shared'")
      cal-settings-calendars-item(ng-repeat="calendar in ctrl.publicCalendars", calendar="calendar", on-remove="ctrl.remove", display-owner="true", state-to-go="'calendar.external.shared'")

dynamic-fab-dropup(anchor='cal-add-calendar')