sub-header
  cal-settings-subheader

.cal-settings-calendars
  .calendar-list
    .title
      h3 #{__('My calendars')}
    .list
      cal-settings-calendars-item(ng-repeat="calendar in ctrl.userCalendars", calendar="calendar", on-remove="ctrl.remove", display-owner="false")

  .calendar-list
    .title
      h3 #{__('External calendars')}
    .list
      cal-settings-calendars-item(ng-repeat="calendar in ctrl.sharedCalendars", calendar="calendar", on-remove="ctrl.remove", display-owner="true")
      cal-settings-calendars-item(ng-repeat="calendar in ctrl.publicCalendars", calendar="calendar", on-remove="ctrl.remove", display-owner="true")

dynamic-fab-dropup.hidden-md(anchor='cal-add-calendar')