.cal-partstat-icon
  .icon(ng-if="ctrl.partstat")
    md-tooltip(md-direction="bottom" md-z-index="10000")
      span(ng-if="ctrl.partstat === ctrl.PARTSTAT.accepted") #{__('Accepted')}
      span(ng-if="ctrl.partstat === ctrl.PARTSTAT.declined") #{__('Declined')}
      span(ng-if="ctrl.partstat === ctrl.PARTSTAT.tentative") #{__('Tentative')}
    i.mdi.mdi-checkbox-marked-circle.accepted(ng-if="ctrl.partstat === ctrl.PARTSTAT.accepted")
    i.mdi.mdi-close-circle.declined(ng-if="ctrl.partstat === ctrl.PARTSTAT.declined")
    i.mdi.mdi-help-circle.tentative(ng-if="ctrl.partstat === ctrl.PARTSTAT.tentative")
