mjml
  mj-head
    mj-attributes
      mj-all(font-family='Roboto')
    include ../event.invitation/style.pug
    mj-style(inline='inline')
      | .invitation-title-container { background: #ffdede; border-radius: 4px; border: 1px solid #ffdede; }
  include ../event.invitation/body.pug
