.calendar-shared-configuration-item
  .meta
    .avatar
      img(src='/images/user.png', ng-src='/api/users/{{::$ctrl.item.user._id}}/profile/avatar', alt='#{__("User Avatar")}')
    .title
      .name
        span {{::$ctrl.item.calendar.name}}
      .owner
        span {{::$ctrl.item.user.displayName}}
  .rights
    cal-shared-rights-display(ng-if="$ctrl.item.type === 'public'", public="$ctrl.item.calendar.rights.getPublicRight()")
    cal-shared-rights-display(ng-if="$ctrl.item.type === 'delegation'", delegation="$ctrl.item.calendar.rights.getShareeRight($ctrl.user._id)")
  .actions
    toggle-switch(ng-model='$ctrl.item.isSelected')