.cal-event-freebusy-icon
  .esn-spinner(ng-if="ctrl.status === 'loading'", openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.15')
  .icon(ng-if="ctrl.status !== 'loading'")
    md-tooltip(md-direction="bottom" md-z-index="10000")
      span(ng-if="ctrl.status === ctrl.CAL_FREEBUSY.BUSY") #{__('Attendee is not available')}
      span(ng-if="ctrl.status === ctrl.CAL_FREEBUSY.FREE") #{__('Attendee is available')}
      span(ng-if="ctrl.status === ctrl.CAL_FREEBUSY.UNKNOWN") #{__('Attendee availability is unknown')}
    i.mdi.mdi-clock-alert.is-busy(ng-if="ctrl.status === ctrl.CAL_FREEBUSY.BUSY")
    i.mdi.mdi-clock.is-free(ng-if="ctrl.status === ctrl.CAL_FREEBUSY.FREE")
    i.mdi.mdi-clock-alert.is-unknown(ng-if="ctrl.status === ctrl.CAL_FREEBUSY.UNKNOWN")
