.add-delegation-users
  .user-delegation-form
    .user-autocomplete
      users-autocomplete-input(mutable-users='$ctrl.newUsersGroups', ignored-users='$ctrl.ignoredUsers', on-adding-user='$ctrl.onAddingUser')
    .select-delegation
      select.addDelegation.form-control(ng-model='$ctrl.selectedShareeRight')
        option(ng-repeat="delegationType in ::$ctrl.delegationTypes" value="{{delegationType.value}}" ng-selected="delegationType.value === $ctrl.selectedShareeRight") {{delegationType.name | esnI18n}}
  .delegation-actions
    .btn.btn-primary.btn-sm(ng-click="$ctrl.addUserGroup()") #{__('Add')}

hr

.delegation-line(ng-repeat="delegation in $ctrl.delegations")
  .user
    a.user-avatar(href="", ng-attr-title='delegation.user.displayName')
      esn-avatar(user-email="delegation.user.preferredEmail")
    .user-name
      a(ng-href="mailto:{{::delegation.user.preferredEmail}}" op-inbox-compose op-inbox-compose-display-name="{{::delegation.user.displayName}}") {{ delegation.user.displayName }}
  .select-delegation
    .select
      select.form-control(ng-model='delegation.selection')
        option(ng-repeat="delegationType in ::$ctrl.delegationTypes" value="{{delegationType.value}}" ng-selected="delegationType.value === delegation.selection") {{delegationType.name | esnI18n}}
  .delegation-actions
    a(href="", ng-click='$ctrl.removeUserGroup(delegation)')
      i.mdi.mdi-delete
