mj-style(inline='inline')
  | .part-button { display: block; color: #333; text-align: center; margin-right: 8px; min-width: 64px; font-size: 16px; text-decoration: none; padding: 6px 8px; background: #fff; border-radius: 18px; border: 1px solid #ccc; } .part-message-container { font-size: 16px; font-family: Roboto; color: #333; font-weight: 500; } .part-button-container { white-space: nowrap; } .part-button-container--last { width: 100%; } .warning-text { background-color: #fffaea; padding: 12px; border-radius: 4px; }
  | .part-table { background: #f7f7f7; }
  | .content { border: 1px solid #ccc; border-radius: 4px; margin-top: 24px; }
  | .link { text-decoration: none; color: #4d91c9; }
