.cal-attendees-list.cal-attendees-list-expanded
  .cal-attendees-sublists
    .cal-attendees-sublist(ng-if='ctrl.attendeesPerPartstat.ACCEPTED > 0')
      .cal-attendees-sublist-title.accepted #{__('Accepted')}
      .cal-attendees-sublist-body
        cal-attendee-item-consult(attendee='attendee', can-modify-attendee='::ctrl.canModifyAttendees', is-organizer='ctrl.isOrganizer(attendee)', ng-click= "ctrl.selectAttendee(attendee)", ng-repeat="attendee in ctrl.attendees | partstat:'ACCEPTED' track by $index")
    .cal-attendees-sublist(ng-if='ctrl.attendeesPerPartstat.DECLINED > 0')
      .cal-attendees-sublist-title.declined #{__('Declined')}
      .cal-attendees-sublist-body
        cal-attendee-item-consult(attendee='attendee', can-modify-attendee='::ctrl.canModifyAttendees', is-organizer='ctrl.isOrganizer(attendee)', ng-click= "ctrl.selectAttendee(attendee)", ng-repeat="attendee in ctrl.attendees | partstat:'DECLINED' track by $index")
    .cal-attendees-sublist(ng-if='ctrl.attendeesPerPartstat["OTHER"] > 0 || ctrl.attendeesPerPartstat["NEEDS-ACTION"] > 0 || ctrl.attendeesPerPartstat["TENTATIVE"] > 0')
      .cal-attendees-sublist-title.undecided #{__('Undecided')}
      .cal-attendees-sublist-body
        cal-attendee-item-consult(attendee='attendee', can-modify-attendee='::ctrl.canModifyAttendees', is-organizer='ctrl.isOrganizer(attendee)', ng-click= "ctrl.selectAttendee(attendee)", ng-repeat="attendee in ctrl.attendees | partstat:'NEEDS-ACTION' track by $index")
        cal-attendee-item-consult(attendee='attendee', can-modify-attendee='::ctrl.canModifyAttendees', is-organizer='ctrl.isOrganizer(attendee)', ng-click= "ctrl.selectAttendee(attendee)", ng-repeat="attendee in ctrl.attendees | partstat:'TENTATIVE' track by $index")
        cal-attendee-item-consult(attendee='attendee', can-modify-attendee='::ctrl.canModifyAttendees', is-organizer='ctrl.isOrganizer(attendee)', ng-click= "ctrl.selectAttendee(attendee)", ng-repeat="attendee in ctrl.attendees | partstat:undefined track by $index")
