.calendar-left-pane {
  .flex-column;

  bottom: 0;
  width: ~"calc(@{calendarLeftPaneWidth} + @{scrollbarWidth})";
  margin-top: 20px;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;

  .fc-event .fc-title {
    text-align: center;
  }

  .card-header {
    padding: 0;
  }

  .cal-manage-sidebar {
    margin-bottom: 5px;

    .lv-item {
      margin-top: 5px;
      .flex-vertical-centered;

      i.mdi {
        margin-right: 15px;
        font-size: 1.5em;
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  .calendar-left-pane {
    top: ~"calc(@{header-height-md} + @{sub-header-height-md})";
  }
}

@media (min-width: @screen-xl-min) {
  .calendar-left-pane {
    top: ~"calc(@{header-height-xl} + @{sub-header-height-xl})";
  }
}