mixin displayAttendees(attendees)
  each details, mail in attendees
    span
      +displayAttendee(mail, details)

mixin displayAttendee(mail, details)
  div
    if (details.cn)
      span #{details.cn} <
        span.small #{mail}
      | >,
    else
      span.small #{mail}